body {
    /*font-family: 'Roboto', sans-serif !Important;*/
    font-family: 'Montserrat', sans-serif;
}


.card {
    border-radius: 0 !important;
}

.list-group {
    border-radius: 0 !important;
    box-shadow: 0 0 25px rgba(var(--color-black-rgb), 0.1) !important;

}

.list-group-item.active {
    background: var(--color-primary) !important;
    border: 0 !important;

}

.accordion-button:not(.collapsed) {
    background: none !important;
    color: var(--color-primary) !important;;
}


.course {
    box-shadow: 0 0 25px rgba(var(--color-black-rgb), 0.1) !important;
    border: 0 !important;
    border-radius: 8px !important;
    width: 30%;
}


.course_logo {
    max-height: 150px !important;
    width: auto !important;
    margin: 10px auto !important;


}

.custom_button {
    font-size: 16px;
    color: var(--color-white);
    background: var(--color-primary);
    padding: 8px 23px;
    border-radius: 4px;
    transition: 0.3s;
    font-family: var(--font-secondary);
}

@media only screen and (max-width: 720px) {


    .course {
        box-shadow: 0 0 25px rgba(var(--color-black-rgb), 0.1) !important;
        border: 0 !important;
        border-radius: 8px !important;
        width: 100%;
    }

}


/*sidebar*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* white*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 180ms; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 0 25px rgba(var(--color-black-rgb), 0.1) !important;

}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 150s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: darkred;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}