<!-- ======= Services Section ======= -->
{% load static %}
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Popular Courses</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, vero.</p>
        </div>

        <div class="row gy-5">

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                <div class="service-item">
                    <div class="img">
                        <img src="{% static '/img/services-1.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">
                        <div class="icon">
                            <i class="bi bi-activity"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>C Programming Language</h3>
                        </a>
                        <p>C is an imperative procedural language. It was designed to be compiled using a relatively
                            straightforward compiler to provide.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                <div class="service-item">
                    <div class="img">
                        <img src="{% static '/img/services-2.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">
                        <div class="icon">
                            <i class="bi bi-broadcast"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>C Interview Prepration</h3>
                        </a>
                        <p>C is an imperative procedural language. It was designed to be compiled using a relatively
                            straightforward compiler to provide.</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                <div class="service-item">
                    <div class="img">
                        <img src="{% static '/img/services-3.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">
                        <div class="icon">
                            <i class="bi bi-easel"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>100+ C Programs</h3>
                        </a>
                        <p>This C language program collection has more than 100 programs, covering beginner level
                            programs like Hello World, Sum of Two numbers, etc</p>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
                <div class="service-item">
                    <div class="img">
                        <img src="{% static '/img/services-4.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">
                        <div class="icon">
                            <i class="bi bi-bounding-box-circles"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>12th Complete Physics</h3>
                        </a>
                        <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit
                            provident adipisci neque.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
                <div class="service-item">
                    <div class="img">
                        <img src="{% static '/img/services-5.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">
                        <div class="icon">
                            <i class="bi bi-calendar4-week"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>Operating System</h3>
                        </a>
                        <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi
                            at autem alias eius labore.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
                <div class="service-item">
                    <div class="img">
                        <img src="{% static '/img/services-6.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="details position-relative">
                        <div class="icon">
                            <i class="bi bi-chat-square-text"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>Computer Networks</h3>
                        </a>
                        <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure.
                            Corrupti recusandae ducimus enim.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

    <div class="container text-center mt-5   h-auto">
        <a class="btn-get-started  " href="/courses">More ...</a>
    </div>
</section><!-- End Services Section -->