<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>ShreeSanaviAcademy<span>.</span></h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>

                <li class="dropdown"><a href="/"><span>Home</span>
                    {#                    <i class="bi bi-chevron-down dropdown-indicator"></i>#}
                </a>

                    {#                    <ul>#}
                    {#                        <li><a href="index.html" class="active">Home 1 - index.html</a></li>#}
                    {#                        <li><a href="index-2.html">Home 2 - index-2.html</a></li>#}
                    {#                        <li><a href="index-3.html">Home 3 - index-3.html</a></li>#}
                    {#                        <li><a href="index-4.html">Home 4 - index-4.html</a></li>#}
                    {#                    </ul>#}
                </li>

                <li><a class="nav-link scrollto" href="/about">About</a></li>
                <li><a class="nav-link scrollto" href="/courses?cat=all">Courses</a></li>

                <li class="dropdown megamenu"><a href="#"><span>Tutorials</span> <i
                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li>
                            <a href="#">8 & 9 standard</a>
                            <a href="#">High School </a>
                            <a href="#">Intermediate School</a>
                        </li>
                        <li>
                            <a href="#">Prog. Languages</a>
                            <a href="#">Interview Preparation</a>
                            <a href="#">Placement Series</a>
                        </li>
                        <li>
                            <a href="#">Accounts</a>
                            <a href="#">Civil Services</a>
                            <a href="#">IITJEE & NEET</a>
                        </li>

                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Join Us</span> <i
                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">YouTube</a></li>

                        <li><a href="#">FaceBook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">LinkedIn</a></li>
                        <li class="dropdown"><a href="#"><span>More ways..</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="#">Whats App</a></li>
                                <li><a href="#">Call US</a></li>
                                <li><a href="#">Directly Visit</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav><!-- .navbar -->

        <a class="btn-getstarted  d-none d-lg-block" href="/courses?cat=all">Start</a>

    </div>
</header>