{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid pb-5" style="margin-top: 100px;">


        <div class="row">


            <div class="col-md-3">
                <div class="accordion" id="accordionExample">

                    {% for u in units %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne{{ u.id }}" aria-expanded="true"
                                        aria-controls="collapseOne">
                                    {{ u.title }}
                                </button>
                            </h2>
                            <div id="collapseOne{{ u.id }}" class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                            >
                                <div class="accordion-body p-0">
                                    <div class="list-group">

                                        {% for t in u.topic_set.all %}


                                            {% if t.isLive %}
                                                {% if t.id == topic.id %}
                                                    <a href="/{{ t.url }}"
                                                       class="list-group-item list-group-item-action active "
                                                       aria-current="true">
                                                        {{ t.title }}
                                                    </a>

                                                {% else %}
                                                    <a href="/{{ t.url }}"
                                                       class="list-group-item list-group-item-action "
                                                       aria-current="true">
                                                        {{ t.title }}
                                                    </a>
                                                {% endif %}
                                            {% endif %}


                                        {% endfor %}


                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}


                </div>

                {% for i in '12' %}
                    <div class="box  p-5 mt-5 " data-aos="zoom-in" data-aos-delay="200"
                         style="height: 400px;background: #e2e2e2;">
                        <h6>Ads Unit </h6>
                    </div>

                {% endfor %}
            </div>
            {% load static %}
            <div class="col-md-7">


                <div class="row">

                    <div class="col-md-12">
                        {{ topic.content | safe }}
                    </div>

                </div>

            </div>


            <div class="col-md-2">
                {% for i in '12345' %}
                    <div class="box  p-5 mt-5 " data-aos="zoom-in" data-aos-delay="200"
                         style="height: 400px;background: #e2e2e2;">
                        <h6>Ads Unit </h6>
                    </div>

                {% endfor %}
            </div>
        </div>

    </div>
    <script>
        const images = document.getElementsByTagName('img')
        for (let i of images) {
            i.className = 'img-fluid'
        }
        const iframes = document.getElementsByTagName('iframe')
        for (let i of iframes) {
            i.style.width = "100%";
            i.style.height="450px"
        }


    </script>
{% endblock %}